### YouTube Statistics MySQL Project

#### Importing Necessary Modules

In [1]:
#Importing Necessary Modules
import pandas as pd
import re
import pymysql
from sqlalchemy import create_engine,text
from urllib.parse import quote

#### Importing Datafiles as Pandas Dataframe

In [2]:
# Loading the video-stats file
df_vid = pd.read_csv('videos-stats.csv')

# Loading the comments file
df_comment = pd.read_csv('comments.csv')

In [3]:
df_vid

,Unnamed: 0,Title,Video_ID,Published_At,Keyword,Likes,Comments,Views
0,0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,23-08-22,tech,3407.0,672.0,135612.0
1,1,The most EXPENSIVE thing I own.,b3x28s61q3c,24-08-22,tech,76779.0,4306.0,1758063.0
2,2,My New House Gaming Setup is SICK!,4mgePWWCAmA,23-08-22,tech,63825.0,3338.0,1564007.0
3,3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,23-08-22,tech,71566.0,1426.0,922918.0
4,4,Best Back to School Tech 2022!,ErMwWXQxHp0,08-08-22,tech,96513.0,5155.0,1855644.0
...,...,...,...,...,...,...,...,...
1876,1876,Should You Learn Machine Learning?,AO6urf07KjE,14-06-21,machine learning,10259.0,416.0,386360.0
1877,1877,Todos podemos aprender Machine learning,7ClLKBUvmRk,08-10-17,machine learning,2981.0,72.0,431421.0
1878,1878,"Andrew Ng: Deep Learning, Education, and Real-...",0jspaMLxBig,20-02-20,machine learning,5198.0,443.0,226152.0
1879,1879,What is Machine Learning?,f_uwKZIAeM0,11-01-17,machine learning,NaN,NaN,NaN
1880,1880,Don&#39;t learn machine learning,cyLWtMSry58,30-03-20,machine learning,NaN,NaN,NaN

In [4]:
df_comment

,Unnamed: 0,Video_ID,Comment,Likes,Sentiment
0,0,wAZZ-UWGVHI,Let's not forget that Apple Pay in 2014 requir...,95.0,1.0
1,1,wAZZ-UWGVHI,Here in NZ 50% of retailers don’t even have co...,19.0,0.0
2,2,wAZZ-UWGVHI,I will forever acknowledge this channel with t...,161.0,2.0
3,3,wAZZ-UWGVHI,Whenever I go to a place that doesn’t take App...,8.0,0.0
4,4,wAZZ-UWGVHI,"Apple Pay is so convenient, secure, and easy t...",34.0,2.0
...,...,...,...,...,...
18404,18404,cyLWtMSry58,I really like the point about engineering tool...,0.0,2.0
18405,18405,cyLWtMSry58,I’ve just started exploring this field. And th...,20.0,2.0
18406,18406,cyLWtMSry58,Excelente video con una pregunta filosófica pr...,1.0,1.0
18407,18407,cyLWtMSry58,"Hey Daniel, just discovered your channel a cou...",35.0,2.0
18408,18408,cyLWtMSry58,This is great. Focus is key. A playful approac...,0.0,2.0

#### Database Connection: Connecting Jupyter Notebook to MySQL Server

In [5]:
db_connection = create_engine('mysql+pymysql://root:%s@localhost:3306/youtubestat' % quote('Abcd@1234'))

#### Creating videostat table in MySQL from Pandas Dataframe

In [6]:
df_vid.to_sql(name='videostat', con=db_connection, if_exists='replace', index=False)

1881

#### Creating comment table in MySQL from Pandas Dataframe

In [7]:
df_comment.to_sql(name='comment', con=db_connection, if_exists='replace', index=False)

18409

In [8]:
conn = db_connection

## Queries Mentioned in the Dataquest Project https://www.dataquest.io/blog/sql-projects/

### What are the most commented-upon videos?

#### Query: Select Title,Comments from videostat order by Comments desc

In [9]:
comment_query = text("Select Title,Comments from videostat order by Comments desc")
op = pd.DataFrame(conn.execute(comment_query))
op

                                                  Title  Comments
0     El Chombo - Dame Tu Cosita feat. Cutty Ranks (...  732818.0
1      I Opened A Restaurant That Pays You To Eat At It  728774.0
2                     $456,000 Squid Game In Real Life!  611757.0
3              One Direction - History (Official Video)  434688.0
4                  history of the entire world, i guess  395657.0
...                                                 ...       ...
1876  TOP SECRET MISSION â­ðŸŒŸ Best Action Movies ...       0.0
1877  SURVIVOR ðŸ¦€ðŸ¦‚ Best Action Movies 2022 ðŸ¦€...      -1.0
1878  BEST Auditions Of Songs From Movies | Amazing ...      -1.0
1879                          What is Machine Learning?       NaN
1880                   Don&#39;t learn machine learning       NaN

[1881 rows x 2 columns]

### What are the most Liked videos?

#### Query: Select Title,Likes from videostat order by Likes desc

In [10]:
like_query = text("Select Title,Likes from videostat order by Likes desc")
op = pd.DataFrame(conn.execute(like_query))
op

                                                  Title       Likes
0     El Chombo - Dame Tu Cosita feat. Cutty Ranks (...  16445558.0
1                     $456,000 Squid Game In Real Life!  14259033.0
2              Martin Garrix - Animals (Official Video)  11025176.0
3     Powfu - death bed (coffee for your head) (Offi...   7786057.0
4     The Weeknd - Save Your Tears (Official Music V...   6823113.0
...                                                 ...         ...
1876  FULL Marvel Studios Panel from Hall H | San Di...        -1.0
1877  The Magnificent Seven - Full Movie In English ...        -1.0
1878  Vikram Vedha Movie Teaser Review | KRK | #krkr...        -1.0
1879                          What is Machine Learning?         NaN
1880                   Don&#39;t learn machine learning         NaN

[1881 rows x 2 columns]

### How many total views does each category have?

#### Query: Select Keyword,sum(Views) as Total_Views from videostat group by Keyword

In [11]:
view_query = text("Select Keyword,sum(Views) as Total_Views from videostat group by Keyword")
op = pd.DataFrame(conn.execute(view_query))
op

             Keyword   Total_Views
0               tech  9.210273e+07
1               news  9.652195e+06
2             gaming  2.234476e+07
3             sports  4.214590e+08
4             how-to  3.748457e+08
5           business  3.473450e+08
6           tutorial  3.380516e+08
7            finance  2.707471e+07
8             crypto  2.023041e+07
9              cubes  7.519370e+08
10             chess  6.219482e+07
11             apple  4.513711e+08
12            google  4.651424e+09
13         interview  1.483056e+08
14           history  7.523565e+08
15        literature  3.969898e+07
16               bed  2.371302e+09
17          trolling  7.100705e+07
18              asmr  8.533079e+07
19             music  1.350785e+09
20              food  2.521155e+08
21           mukbang  4.907148e+08
22          reaction  3.115862e+07
23              lofi  1.635889e+08
24           animals  3.599511e+09
25         education  6.442639e+07
26         minecraft  9.063854e+07
27               sat  5.222757e+07
28           mrbeast  3.338200e+09
29               cnn  2.771202e+07
30     mathchemistry  4.992188e+07
31           biology  1.937155e+08
32           physics  1.846194e+08
33  computer science  5.721402e+07
34          nintendo  7.992203e+07
35              xbox  8.349506e+07
36            marvel  3.307040e+08
37            movies  2.154886e+08
38      data science  2.723860e+07
39  game development  3.623443e+07
40  machine learning  6.300491e+07

### How many total like does each category have?

#### Query: Select Keyword,sum(Likes) as Total_Likes from videostat group by Keyword

In [12]:
view_likes = text("Select Keyword,sum(Likes) as Total_Likes from videostat group by Keyword")
op = pd.DataFrame(conn.execute(view_likes))
op

             Keyword  Total_Likes
0               tech    2905652.0
1               news     117511.0
2             gaming    1070583.0
3             sports    4435425.0
4             how-to    7627111.0
5           business    3455285.0
6           tutorial    8386044.0
7            finance     516184.0
8             crypto     426068.0
9              cubes   15153060.0
10             chess    1693992.0
11             apple    4959314.0
12            google   21202537.0
13         interview    3666347.0
14           history   13670533.0
15        literature     819969.0
16               bed   20842016.0
17          trolling    3069352.0
18              asmr    1830765.0
19             music   14452653.0
20              food    4560703.0
21           mukbang    6363299.0
22          reaction    3697989.0
23              lofi    3010876.0
24           animals   28909480.0
25         education    1495016.0
26         minecraft    3058978.0
27               sat    1520509.0
28           mrbeast  105295718.0
29               cnn     441787.0
30     mathchemistry    1407730.0
31           biology    3124738.0
32           physics    4935045.0
33  computer science    1615850.0
34          nintendo    2139530.0
35              xbox    1902183.0
36            marvel   10518960.0
37            movies    1384796.0
38      data science     858789.0
39  game development    1308934.0
40  machine learning    1693347.0

### What are the most-liked comments?

#### Query: Select Comment,Likes from comment order by Likes desc

In [13]:
cm_query = text("Select Comment,Likes from comment order by Likes desc")
op = pd.DataFrame(conn.execute(cm_query))
op

                                                 Comment     Likes
0      Like I said in the video, subscribe if you hav...  891372.0
1      Huge props to the set designers, everything wa...  469175.0
2      This is insanity, never done before in the his...  378181.0
3      Like I said in the video, subscribe if you hav...  268266.0
4                      Subscribe and i'll give you a car  260871.0
...                                                  ...       ...
18404                      Awesome Funny Compilation 😻😹😻       0.0
18405                             Lovely and funny video       0.0
18406        6:25 not cute, obviously the dog feels bad.       0.0
18407           Hy dear you're this channel is monetize?       0.0
18408                                              6th!!       0.0

[18409 rows x 2 columns]

### What is the ratio of likes/views per video?

#### Query: Select Title,(Likes/Views) as Likes_per_View from videostat

In [14]:
query = text("Select Title,(Likes/Views) as Likes_per_View from videostat")
op = pd.DataFrame(conn.execute(query))
op

                                                  Title  Likes_per_View
0     Apple Pay Is Killing the Physical Wallet After...        0.025123
1                       The most EXPENSIVE thing I own.        0.043672
2                    My New House Gaming Setup is SICK!        0.040809
3     Petrol Vs Liquid Nitrogen | Freezing Experimen...        0.077543
4                        Best Back to School Tech 2022!        0.052011
...                                                 ...             ...
1876                 Should You Learn Machine Learning?        0.026553
1877            Todos podemos aprender Machine learning        0.006910
1878  Andrew Ng: Deep Learning, Education, and Real-...        0.022985
1879                          What is Machine Learning?             NaN
1880                   Don&#39;t learn machine learning             NaN

[1881 rows x 2 columns]

### What is the ratio of likes/views Per each category?

#### Query: Select Keyword,avg(Likes/Views) as Likes_per_Views from videostat group by Keyword

In [15]:
query = text("Select Keyword,avg(Likes/Views) as Likes_per_Views from videostat group by Keyword")
op = pd.DataFrame(conn.execute(query))
op

             Keyword  Likes_per_Views
0               tech         0.033826
1               news         0.011782
2             gaming         0.065196
3             sports         0.012182
4             how-to         0.033896
5           business         0.028853
6           tutorial         0.032555
7            finance         0.018510
8             crypto         0.070752
9              cubes         0.028831
10             chess         0.034315
11             apple         0.034850
12            google         0.023990
13         interview         0.027012
14           history         0.026405
15        literature         0.027103
16               bed         0.015137
17          trolling         0.048921
18              asmr         0.051371
19             music         0.032168
20              food         0.025269
21           mukbang         0.028229
22          reaction         0.068681
23              lofi         0.026447
24           animals         0.010082
25         education         0.034374
26         minecraft         0.049618
27               sat         0.037149
28           mrbeast         0.034496
29               cnn         0.016088
30     mathchemistry         0.022513
31           biology         0.024584
32           physics         0.026774
33  computer science         0.036843
34          nintendo         0.046674
35              xbox         0.041621
36            marvel         0.038730
37            movies         0.012527
38      data science         0.036994
39  game development         0.048581
40  machine learning         0.027104

### What is the average sentiment score in each keyword category?

#### Query: Select v.Keyword,avg(c.Sentiment) as Average_Sentiment from videostat as v join comment as c where v.Video_ID = c.Video_ID group by v.Keyword

In [16]:
query = text("Select v.Keyword,avg(c.Sentiment) as Average_Sentiment from videostat as v join comment as c where v.Video_ID = c.Video_ID group by v.Keyword")
op = pd.DataFrame(conn.execute(query))
op

             Keyword  Average_Sentiment
0               tech           1.497817
1             gaming           1.522248
2               news           0.813953
3          minecraft           1.453094
4               asmr           1.742331
5             sports           1.490110
6             how-to           1.554192
7              cubes           1.429412
8           business           1.495614
9           tutorial           1.707843
10           finance           1.221184
11            crypto           1.433190
12             chess           1.447427
13           history           1.200000
14             apple           1.414286
15            google           1.341014
16         interview           1.624490
17        literature           1.594104
18               bed           1.671264
19          trolling           1.206000
20             music           1.740139
21              lofi           1.828125
22          reaction           1.542240
23              food           1.651357
24           mukbang           1.641860
25            movies           1.483645
26           animals           1.515235
27         education           1.270833
28               sat           1.406122
29           mrbeast           1.652000
30               cnn           0.595573
31     mathchemistry           1.706767
32           biology           1.508511
33           physics           1.554000
34  computer science           1.602592
35  machine learning           1.744639
36          nintendo           1.539583
37              xbox           1.470942
38            marvel           1.483740
39      data science           1.705285
40  game development           1.667347

### How many times do company names (i.e., Apple or Samsung) appear in each keyword category?

#### Query: Select Keyword,count(*) as Total_Count from videostat where Keyword IN('apple','google','xbox','marvel') group by Keyword

In [17]:
query = text("Select Keyword,count(*) as Total_Count from videostat where Keyword IN('apple','google','xbox','marvel') group by Keyword")
op = pd.DataFrame(conn.execute(query))
op

  Keyword  Total_Count
0   apple           42
1  google           45
2    xbox           49
3  marvel           50

## Self defined Queries

### Find out average likes per day for each video

#### Query: Select Title,Likes/datediff(curdate(),str_to_date(Published_At,'%d-%m-%y')) as Average_Likes_per_Day from videostat order by Average_Likes_per_Day desc

In [18]:
query = text("Select Title,Likes/datediff(curdate(),str_to_date(Published_At,'%d-%m-%y')) as Average_Likes_per_Day from videostat order by Average_Likes_per_Day desc")
op = pd.DataFrame(conn.execute(query))
op

                                                  Title  Average_Likes_per_Day
0                     $456,000 Squid Game In Real Life!           26163.363303
1          I Built Willy Wonka&#39;s Chocolate Factory!           12730.798867
2          I Gave My 100,000,000th Subscriber An Island           12708.828767
3     BLACKPINK - â€˜Pink Venomâ€™ DANCE PRACTICE VIDEO           11034.062500
4     BLACKPINK - â€˜Pink Venomâ€™ DANCE PRACTICE VIDEO           11033.941176
...                                                 ...                    ...
1876  à¸•à¸¥à¸²à¸”à¸–à¸¸à¸‡à¸¡à¸·à¸­à¸¢à¸²à¸‡à¸—à¸£à...              -0.003663
1877  15 Kilo ZayÄ±f GÃ¶steren KÄ±z MakyajÄ± |Arkada...              -0.003663
1878  Vikram Vedha Movie Teaser Review | KRK | #krkr...              -0.003676
1879                          What is Machine Learning?                    NaN
1880                   Don&#39;t learn machine learning                    NaN

[1881 rows x 2 columns]

### Find out the most liked comment for each video and the respective video title

#### Query: SELECT v.Title,v.Video_Id, c.Comment, c.Likes FROM videostat v JOIN (SELECT Video_ID, MAX(Likes) AS max_likes FROM comment GROUP BY Video_ID) t ON v.Video_ID = t.Video_ID JOIN comment c ON t.Video_ID = c.Video_ID AND t.max_likes = c.Likes

In [19]:
query = text("""SELECT v.Title,v.Video_Id, c.Comment, c.Likes
FROM videostat v
JOIN (
    SELECT Video_ID, MAX(Likes) AS max_likes
    FROM comment
    GROUP BY Video_ID
) t ON v.Video_ID = t.Video_ID
JOIN comment c ON t.Video_ID = c.Video_ID AND t.max_likes = c.Likes
""")
op = pd.DataFrame(conn.execute(query))
op

,Title,Video_Id,Comment,Likes
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,I will forever acknowledge this channel with t...,161.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,I love all the people LTT has added for labs. ...,2808.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,Dan the man. Saving the day. Riley needs to gi...,3371.0
3,My New House Gaming Setup is SICK!,4mgePWWCAmA,Dan the man. Saving the day. Riley needs to gi...,3371.0
4,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,Liquid nitrogen ഇതുവരെ തീർന്നില്ലേ മച്ചാനെ.......,3660.0
...,...,...,...,...
1943,Should You Learn Machine Learning?,AO6urf07KjE,Pros : It is fun\r\n\r\nCons : You have to wor...,115.0
1944,Todos podemos aprender Machine learning,7ClLKBUvmRk,"Me resultó tan inspirador conocerte, Haydé! Me...",127.0
1945,"Andrew Ng: Deep Learning, Education, and Real-...",0jspaMLxBig,"Whenever someone uses the word ""It turns out"",...",359.0
1946,What is Machine Learning?,f_uwKZIAeM0,Machine learning is an incredibly powerful num...,38.0
1947,Don&#39;t learn machine learning,cyLWtMSry58,I am currently enrolled in a MSc Machine learn...,575.0